<p id="notice"><%= notice %></p>

<p>
  <strong>Companybillname:</strong>
  <%= @companybill.companybillname %>
</p>

<%= link_to 'Edit', edit_companybill_path(@companybill) %> |
<%= link_to 'Back', companybills_path %>
